<div class="p-6 bg-gray-50 min-h-screen">
  <!-- Titulo -->
   <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-800 flex items-center gap-2">👥 Clientes registrados</h1>
     <!--Botón para crear nuevo cliente-->
    <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg shadow-md transition-all duration-20"
      (click)="openForm()">
      Nuevo Cliente
    </button>
   </div>
   <!-- Mensajes -->
  <div *ngIf="successMessage" class="mb-4 p-3 rounded-md bg-green-100 text-green-800 shadow-sm">
    ✅ {{ successMessage }}
  </div>
  <div *ngIf="loading" class="text-gray-500 italic">Cargando clientes...</div>
  <div *ngIf="error" class="text-red-600 font-medium">{{ error }}</div>

  <!-- Busqueda de cliente-->
   <div class="bg-white p-4 rounded-lg shadow-sm mb-6 flex flex-wrap gap-3 items-center">
    <select [(ngModel)]="searchType"
    class="border border-gray-300 px-3 py-2 rounded-lg focus:ring-2 focus:ring-blue-400 outline-none">
      <option value="id">Buscar por ID</option>
      <option value="phone">Buscar por Teléfono</option>
    </select>

    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange($event.target.value)"
      placeholder="Ingrese término de búsqueda"
      class="border border-gray-300 px-3 py-2 rounded-lg flex-grow focus:ring-2 focus:ring-blue-400 outline-none"
    />
    <button (click)="clearInputSearch()"
       class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 transition-all duration-200">
      Limpiar
    </button>
   </div>
  <!-- Tabla de clientes -->
  <div *ngIf="!loading && !error" class="overflow-x-auto bg-white rounded-xl shadow-lg">
    <table class="min-w-full border-collapse">
      <thead class="bg-gradient-to-r from-blue-600 to-indigo-600 text-white">
        <tr>
           <th class="py-3 px-4 text-center font-bold">ID</th>
          <th class="py-3 px-4 text-center font-bold">Nombre</th>
          <th class="py-3 px-4 text-center font-bold">Teléfono</th>
          <th class="py-3 px-4 text-center font-bold">Email</th>
          <th class="py-3 px-4 text-center font-bold">Fecha creación</th>
          <th class="py-3 px-4 text-center font-bold">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" class="border-b hover:bg-blue-50 transition-colors duration-150">
          <td class="py-2 px-4 text-center">{{ customer.id }}</td>
          <td class="py-2 px-4 text-center">{{ customer.name }}</td>
          <td class="py-2 px-4 text-center">{{ customer.phone }}</td>
          <td class="py-2 px-4 text-center">{{ customer.email || '—' }}</td>
          <td class="py-2 px-4 text-center">
            {{ customer.created_at ? (customer.created_at | date:'short') : '—' }}
          </td>
          <td class="py-3 px-4 text-center flex justify-center gap-2">
            <button
            (click)="openAddressModal(customer)"
            class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded-md transition-all">
            📍 Direcciones
          </button>
            <button
              (click)="editCustomer(customer)"
              class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded-md transition-all"
            >
              ✏️ Editar
            </button>
             <button
              (click)="deleteCustomer(customer.id)"
              class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded-md transition-all"
            >
              🗑️ Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal formulario para crear nuevo cliente -->
 <div
  *ngIf="showForm"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white w-96 rounded-2xl shadow-2xl overflow-hidden animate-fadeIn">
    <!-- Header -->
    <div class="bg-gradient-to-r from-blue-600 to-indigo-600 p-4">
      <h2 class="text-xl font-bold text-white text-center">
        {{ editingCustomer ? 'Editar Cliente' : 'Nuevo Cliente' }}
      </h2>
    </div>

    <!-- Body -->
    <div class="p-6">
      <form (ngSubmit)="saveCustomer()" class="space-y-4">
        <div>
          <label class="block text-gray-700 font-medium mb-1">Nombre</label>
          <input
            type="text"
            [(ngModel)]="customerForm.name"
            name="name"
            required
            class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition-all duration-150"
          />
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Teléfono</label>
          <input
            type="text"
            [(ngModel)]="customerForm.phone"
            name="phone"
            required
            class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition-all duration-150"
          />
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Email</label>
          <input
            type="email"
            [(ngModel)]="customerForm.email"
            name="email"
            required
            class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition-all duration-150"
          />
        </div>

        <!-- Buttons -->
        <div class="flex justify-end gap-3 pt-2">
          <button
            type="button"
            (click)="closeForm()"
            class="px-4 py-2 rounded-lg border border-gray-300 text-gray-700 hover:bg-gray-100 transition-all duration-150"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="px-4 py-2 rounded-lg bg-gradient-to-r from-blue-600 to-indigo-600 text-white font-semibold shadow-md hover:from-blue-700 hover:to-indigo-700 transition-all duration-150"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!--Modal Direcciones-->
<div
  *ngIf="showAddressModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
  >
  <div class="bg-white w-[700px] rounded-2xl shadow-2xl overflow-hidden animate-fadeIn">
    <div class="bg-gradient-to-r from-indigo-600 to-blue-600 p-4 flex justify-between items-center">
      <h2 class="text-xl font-bold text-white">
        Direcciones de {{selectedCustomer?.name}}
      </h2>
      <button
        (click)="closeAddressModal()"
        class="text-white text-2xl font-bold hover:text-gray-200">
         ✖
      </button>
    </div>

    <!-- Cuerpo del modal-->
     <div class="p-6">
      <app-address [customerId]="selectedCustomer.id"></app-address>
     </div>
  </div>
</div>

